# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Logs and temp
*.log
*.tmp
*.bak
*~

# ROS build/install/devel
build/
devel/
install/
log/

# Catkin/colcon generated
.catkin_tools/
colcon_ws/

# IDE/editor
.vscode/*
!.vscode/settings.json
.idea/

# OS files
.DS_Store
Thumbs.db
